<script setup>
import PGreenLogo from "./PGreenLogo.vue";
</script>
<script>
  export default {
    name: "PApp"
  }
</script>

<template>
  <router-view v-slot="{ Component }">
    <suspense timeout="0">
      <template #default>
        <div>
          <component :is="Component" :key="$route.path"></component>
        </div>
      </template>
      <template #fallback>
        <div class="window-height window-width row justify-center items-center">
          <p-green-logo/>
          <q-linear-progress indeterminate color="primary" />
        </div>
      </template>
    </suspense>
  </router-view>
</template>

