<script>
/**
 * A button component with style options for secondary and ternary.
 * Defaults to primary if neither secondary nor ternary is set.
 *
 * @component
 *
 * @emits click - Emitted when the button is clicked.
 *
 * @prop {Boolean} secondary - Sets the button style to secondary.
 * @prop {Boolean} ternary - Sets the button style to ternary.
 * @prop {Boolean} disabled - Disables the button, preventing interaction.
 * @prop {String} label - The label text for the button.
 * @prop {String} toolTip - Optional tooltip displayed when hovering over the button.
 *
 * @example
 * <PBtn label="Submit" toolTip="Click to submit" @click="handleCancel" />
 */
export default {
  name: "PBtn",
  inheritAttrs: false,  // Prevent automatic inheritance on the root element
}
</script>

<script setup>
import { computed, defineProps, defineEmits } from 'vue';

const props = defineProps({
  secondary: { type: Boolean, default: false }, // Sets the button style to secondary
  ternary: { type: Boolean, default: false }, // Sets the button style to ternary
  disabled: { type: Boolean, default: false },
  label: { type: String, default: 'Button' },
  toolTip: { type: String, default: '' },
  textColor: { type: String, default: '' }
});

const emit = defineEmits(['click']);

// Computed property for button color based on props
const buttonColor = computed(() => {
  if (props.secondary) {
    return 'grey-3'; // Set secondary button color
  } else if (props.ternary) {
    return 'transparent'; // Ternary button style
  }
  return 'primary'; // Default to primary if neither is set
});

// Computed property for text color
const computedTextColor = computed(() => {
  return props.disabled ? 'grey-5' : (props.textColor || (buttonColor.value === 'primary' ? 'white' : 'black'));
});

</script>

<template>
  <q-btn :aria-label="toolTip || label"
         :color="buttonColor"
         :flat="props.ternary"
         :text-color="computedTextColor"
         v-bind="$attrs"
         @click="emit('click')"
  >
    <slot>{{ label }}</slot>

    <q-tooltip v-if="toolTip" class="text-body2">
      {{ toolTip }}
    </q-tooltip>
  </q-btn>
</template>
