<script>
  export default {
    name: "PDatePicker"
  }
</script>
<script setup>
import Moment from 'moment'
import { computed, ref, watch } from 'vue'

const props = defineProps({
  modelValue: String,
  label: {type: String, default: 'Date'},
  rules: Array,
  required: {type: Boolean, default: false},
  minDate: String,
  maxDate: String,
  message: {type: String, default: ''},
  autofocus: {type: Boolean, default: false},
  defaultYearMonth: String // Specify either a date (YYYY-MM-DD) or a month (YYYY-MM) to indicate default year.
})



const emit = defineEmits(['update:modelValue'])

watch(
  () => props.modelValue, () => {
    localDate.value = convertDateFromISO(props.modelValue)
  }
)

// Template reference for focus control.
const input = ref(null)
function focus() {
  if (input.value) {
    input.value.focus()
  }
}
defineExpose({focus})

function convertDateFromISO(date){
  if (date) {
    return (new Moment(date, 'YYYY-MM-DD')).format('MM/DD/YYYY')
  }
  return null;
}

function convertDateToISO(date) {
 let bool = (new RegExp("^(((January?|March?|May?|July?|August?|October?|December?) 31)|((January?|March?|May?|April?|July?|June?|August?|October?|September?|November?|December?) (0?[1-9]|([12]\\d)|30))|(February? (0?[1-9]|1\\d|2[0-8]|(29(?=, ((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))))), ((1[6-9]|[2-9]\\d)\\d{2})").test(date));

  if (date) {
    let m;
    if (bool) {
      m = Moment(date, 'MMMM DD, YYYY');
    } else {
      m =  (new Moment(date, 'MM/DD/YYYY'));
    }
    return  m.format('YYYY-MM-DD')
  }
  return null
}

const dateRules = ref([
  d => (d === null || d.length === 0) || new RegExp("^(0?[1-9]|1[012])[/-](0?[1-9]|[12][0-9]|3[01])[/-](\\d{4}|\\d{2})$").test(d)
    || new RegExp("^(((January?|March?|May?|July?|August?|October?|December?) 31)|((January?|March?|May?|April?|July?|June?|August?|October?|September?|November?|December?) (0?[1-9]|([12]\\d)|30))|(February? (0?[1-9]|1\\d|2[0-8]|(29(?=, ((1[6-9]|[2-9]\\d)(0[48]|[2468][048]|[13579][26])|((16|[2468][048]|[3579][26])00))))))), ((1[6-9]|[2-9]\\d)\\d{2})").test(d)
    || 'Please enter valid date (MM/DD/YY or MM/DD/YYYY)',
  d => (!!d || !props.required) || props.label + ' required. (e.g. MM/DD/YY or MM/DD/YYYY)',
  d => !minDateString.value || (d === null || d.length === 0) || convertDateToISO(d) >= minDateString.value || 'Date must be after ' + convertDateFromISO(minDateString.value),
  d => !maxDateString.value || (d === null || d.length === 0) || convertDateToISO(d) <= maxDateString.value || 'Date must be before ' + convertDateFromISO(maxDateString.value),

])

const showCalendar = ref(false)

const localDate = ref(convertDateFromISO(props.modelValue))
function changeDate(){
  emit('update:modelValue', convertDateToISO(localDate.value) )
}

function onCalendarSelect() {
  changeDate();
  showCalendar.value = false
}

const minDateString = computed(() => {
  if (props.minDate) {
    let dt = new Moment(props.minDate, 'YYYY-MM-DD')
    return dt.isValid() ? dt.format('YYYY-MM-DD'): null;
  }
  return null;
})

const maxDateString = computed(() => {
  if (props.maxDate) {
    let dt = new Moment(props.maxDate, 'YYYY-MM-DD')
    return dt.isValid() ? dt.format('YYYY-MM-DD') : null
  }
  return Moment().add(7, 'days').format('YYYY-MM-DD');
})

function convertDate(inputDate) {

  if (!inputDate) return null;

  // Check if the input is in 'YYYY-MM' format
  const yearMonthRegex = /^\d{4}-\d{2}$/;

  let date;

  if (yearMonthRegex.test(inputDate)) {
    // allow 'YYYY-MM' as input (just in case)
    const [year, month] = inputDate.split('-');
    return `${year}/${month}`;
  } else {
    // Parse the date if it's in any other recognized format
    date = new Date(inputDate);
  }
  // Check if the date is valid
  if (isNaN(date)) {
    throw new Error("Invalid date format");
  }

  // Extract the year and month
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, '0'); // Ensure two digits

  // Return the date in 'YYYY/MM' format
  return `${year}/${month}`;
}


</script>

<template>
  <div>
    <q-input
      ref="input"
      :label="label"
      :autofocus="autofocus"
      :rules="dateRules"
      v-model="localDate"
      v-bind="$attrs"
      @blur="changeDate"
    >
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy v-model="showCalendar" cover transition-show="scale" transition-hide="scale">
            <q-date
              mask="MM/DD/YYYY"
              v-model="localDate"
              :default-year-month="convertDate(defaultYearMonth)"
              @update:model-value='onCalendarSelect'
            >
              <div class="row items-center justify-end">
                <q-btn v-close-popup label="Close" color="primary" flat/>
              </div>
            </q-date>
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </div>
</template>
