<!--
    // How to use this component:
    // v-model the component with a reactive array of objects (rabbits)
    // then v-model the attributes on given inputs (row.ear, row.foot)
    // these can then be given in the slot using one row or multiple rows (the given example only uses 1 row)
    // the "required_at_least_one_row" flag parameter can be passed in to instantly create the first row without a way to delete it

    const rabbits = ref([])

    <edit-rows class="q-mt-lg" add_label="Rabbit" v-model="rabbits"
               :row-default="{ear: null, foot: null}"
     >
      <template v-slot="{ row }">
        <div class="row q-col-gutter-md">
          <div class="col-12 col-sm">
            <q-input
              lazy-rules
              autofocus
              label="Ear"
              v-model="row.ear"
              :rules="[rules.required]"
            />
          </div>
          <div class="col-12 col-sm">
            <q-input
              lazy-rules
              label="Foot"
              v-model="row.foot"
              :rules="[rules.required]"
            />
          </div>
        </div>
      </template>
    </edit-rows>
 -->

<script>
export default {
  name: "PEditRows"
}
</script>
<script setup>
import { computed } from 'vue'
import { useQuasar } from 'quasar'
import { ref } from 'vue'
import PHaveAny from "./PHaveAny.vue";
import PAccessibleButton from "./PAccessibleButton.vue";

const quasar = useQuasar()

const props = defineProps({
  rows: Array,
  add_label: String,
  required_at_least_one_row: Boolean,
  rowDefault: Object,
  prompt: String,
  haveAnyNoGap: {
    type: Boolean,
    default: false
  }
})

const hasData = defineModel()

const info_dialog_is_open = ref(false)
const local_rows = ref(props.rows ?? [])
const pre_remove_index = ref(-1)
const inner_have_any_ref = ref(null)
const emit = defineEmits(['update:modelValue'])
const remove_label = ref('Remove')

// created
if (props.required_at_least_one_row === true && local_rows.value?.length < 1) {
  addRow()
  if(props.add_label) {
    remove_label.value = 'Remove ' + props.add_label
  }
}

function addRow() {
  local_rows.value.push(structuredClone(props.rowDefault) ?? {})
  emit('update:modelValue', local_rows.value.length > 0)
}

function removeRow() {
  local_rows.value.splice(pre_remove_index.value, 1)
  emit('update:modelValue', local_rows.value.length > 0)
}

function tryRemove(index) {
  if(props.prompt && local_rows.value.length === 1) {
    inner_have_any_ref.value.confirmDelete = true
  } else {
    info_dialog_is_open.value = true
    pre_remove_index.value = index
  }
}

const responsive_button_margin = computed(
    () => quasar.screen.width > 600 ? 'q-mt-md q-ml-md' : 'q-mt-md q-mr-md float-right'
)

function onFocus(e, color) {
  e.target.style.border = `2px solid ${color}`
}

function onBlur(e) {
  e.target.style.border = ''
}
</script>

<template>
  <div>
    <p-have-any
        v-if="props.prompt"
        required
        ref="inner_have_any_ref"
        v-model="hasData"
        :rows="local_rows"
        :prompt="props.prompt"
        :no-gap="props.haveAnyNoGap"
        :row-default="props.rowDefault ?? {}"
    />
    <div  v-if="!props.prompt || hasData">
      <q-card v-for="(row, index) in local_rows" class="row q-pa-sm q-mb-sm" :key="index">
        <div class="col-xs-12 col-sm-11">
          <slot :row="row" />
        </div>
        <div class="col-xs-12 col-sm-1">
          <p-accessible-button
              v-if="required_at_least_one_row !== true || index !== 0"
              outline
              round
              color="secondary"
              icon="delete"
              size="sm"
              :button-tooltip="remove_label"
              :class="responsive_button_margin"
              @click="tryRemove(index)"
              @blur="onBlur"
              @focus="(e) => onFocus(e, 'grey')"
          ></p-accessible-button>
        </div>
      </q-card>
      <q-btn icon="add" outline color="primary" @click="addRow" class="q-mt-sm" @blur="onBlur" @focus="(e) => onFocus(e, '#249c02')">
        {{ add_label }}
      </q-btn>
    </div>
    <q-dialog v-model="info_dialog_is_open">
      <q-card>
        <q-card-section>
          <div class="text-h6">Are you sure you want to delete this row?</div>
        </q-card-section>
        <q-card-actions class="q-pb-md q-pl-md">
          <q-btn label="Yes" color="secondary" @click="() => removeRow()" v-close-popup />
          <q-btn label="No" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
