<script>
  export default {
    name: "PEditTable"
  }
</script>
<script setup>
  import { ref, reactive, watch, computed } from 'vue'
  import { useQuasar } from 'quasar'
  import PHaveAny from './PHaveAny.vue'
  import PAccessibleButton from "./PAccessibleButton.vue";

  const props = defineProps({
    rows: {
      type: Array,
      required: true
    },
    columns: Array,
    rowDefault: Object,
    prompt: String,
    selectedIndex: Number,
    rowsPerPage: {
      type: Number,
      default: 10
    },
    haveAnyNoGap: {
      type: Boolean,
      default: true
    }
  })
  const form_ref = ref(null)
  const have_any_ref = ref(null)
  const inner_have_any_ref = ref(null)

  const emit = defineEmits(["rowSelected", "rowsChanged"])
  defineExpose({validate: async () => {
    let haveAnyValid = true
    let formValid = true
    if (have_any_ref.value) {
      haveAnyValid = await have_any_ref.value.validate()
    }
    if (form_ref.value) {
      formValid = await form_ref.value.validate()
    }
    return haveAnyValid && formValid
  }})

  const quasar = useQuasar()
  const hasData = defineModel()
  const local_index = ref(0)
  const local_rows = ref(props.rows ?? [])
  const fields_are_showing = ref(false)
  const local_pagination = reactive({ page: 1 })
  const table_key = ref('')

  const is_mobile = computed(() => quasar.screen.lt.md)

  const dynamic_split_col = computed(() => {
    if (is_mobile.value) {
      return 'col-12'
    }
    return fields_are_showing.value ? 'col-6' : 'col-12'
  })

  // created
  rerenderTable()
  selectRow(props.selectedIndex ?? local_rows.value.length - 1)
  keepSelectedTableRowInView()

  watch(() => props.selectedIndex, () => selectRow(props.selectedIndex))
  watch(() => hasData.value, () => {
    if ((local_rows.value.length === 0) && hasData.value) {
      addRow()
    }
    selectRow(props.selectedIndex ?? 0)
    local_index.value = 0
  })

  function emitSelected() {
    if (fields_are_showing.value) {
      emit("rowSelected", local_rows.value[local_index.value])
    }
  }

  function selectRow(selectedIndex) {
    if (selectedIndex !== null && selectedIndex !== undefined) {
      if (selectedIndex >=0 && selectedIndex < local_rows.value.length) {
        local_index.value = selectedIndex
      }
    }
    else {
      local_index.value = 0
    }
    // Normally the index will always be in bounds but in case we change this behavior in the future...
    fields_are_showing.value = (local_index.value >= 0 && local_index.value < local_rows.value.length)
    emitSelected()
  }

  async function addRow() {
    if (form_ref.value) {
      const success = await form_ref.value.validate()
      if (! success) return
    }
    local_rows.value.push(structuredClone(props.rowDefault ?? {}))
    local_index.value = local_rows.value.length - 1
    keepSelectedTableRowInView()
    fields_are_showing.value = true
    emit('rowsChanged', 'added row')
    emitSelected()
    if (form_ref.value) {
      form_ref.value.reset()
    }
  }

  function removeRow() {
    // pressing Remove on the last row triggers the dialog for Yes / No
    if (local_rows.value.length === 1) {
      inner_have_any_ref.value.confirmDelete = true
      return
    }

    local_rows.value.splice(local_index.value, 1)
    if (local_index.value >= local_rows.value.length)  {
      local_index.value = local_rows.value.length - 1
    }
    if (local_rows.value.length === 0) {
      fields_are_showing.value = false
    }
    emit('rowsChanged', 'removed row')
    emitSelected()
  }

  function keepSelectedTableRowInView() {
    let page = Math.floor(local_index.value / props.rowsPerPage) + 1
    const max_page = Math.floor(local_rows.value.length / props.rowsPerPage) + 1
    if (0 <= page <= max_page) {
      local_pagination.page = page
      rerenderTable()
    }
  }

  function rerenderTable() {
    table_key.value = 'edit-table-' + Math.random().toString(36).slice(2, 15)
  }

  function selectPreviousRow() {
    local_index.value -= 1
    keepSelectedTableRowInView()
    emitSelected()
  }

  function selectNextRow() {
    local_index.value += 1
    keepSelectedTableRowInView()
    emitSelected()
  }

  function closeFields() {
    fields_are_showing.value = false
    local_index.value = null
  }

</script>
<template>
  <q-form ref="have_any_ref" v-if="props.prompt">
    <p-have-any
      required
      ref="inner_have_any_ref"
      v-model="hasData"
      :rows="local_rows"
      :prompt="props.prompt"
      :no-gap="props.haveAnyNoGap"
      :row-default="props.rowDefault ?? {}"
    />
  </q-form>
  <div class="q-mt-sm" />
  <div class="row q-col-gutter-md" v-if="!props.prompt || hasData">
    <div :class="dynamic_split_col" v-show="! is_mobile || ! fields_are_showing">
      <!-- only if we have no rows in a mobile view -->
      <p-accessible-button
        v-if="local_rows.length === 0"
        round
        icon="add"
        button-tooltip="Add"
        class="q-mb-sm"
        @click="addRow"
      />
      <q-table
        flat
        bordered
        wrap-cells
        separator="cell"
        :dense="! is_mobile"
        :key="table_key"
        :pagination="local_pagination"
        :rows-per-page-options="[rowsPerPage]"
        :rows="local_rows"
        :columns="columns"
      >
        <template v-slot:body-cell="props">
          <q-td
            :props="props"
            :class=" 'cursor-pointer ' + ((local_rows.indexOf(props.row) === local_index) ? 'bg-grey-4' : '') "
            @click="() => selectRow(local_rows.indexOf(props.row))"
          >
            {{ props.value }}
          </q-td>
        </template>
      </q-table>
      <slot name="actions" />
    </div>
    <div :class="dynamic_split_col + ' q-pl-none' " v-if="fields_are_showing">
      <q-card flat bordered class="thicker-border q-ml-sm" >
        <div class="row q-ma-sm">
          <div :class="`col-${is_mobile ? 10 : 12} row`">
            <div :class="`${is_mobile ? 'q-mt-sm' : ''}`">
              <div class="text-h2 q-mr-md">{{ local_index + 1 }} of {{ local_rows.length }}</div>
            </div>
            <q-space />
            <div :class="`${is_mobile ? 'q-mt-sm' : ''}`">
              <q-btn
                round
                icon="chevron_left"
                class="q-mr-md"
                :disable="local_index === 0"
                @click="selectPreviousRow"
              />
              <q-btn
                round
                icon="chevron_right"
                class="q-mr-md"
                :disable="local_index === local_rows.length - 1"
                @click="selectNextRow"
              />
            </div>
            <div :class="`${is_mobile ? 'q-mt-sm' : ''}`">
              <p-accessible-button
                round
                icon="delete"
                class="q-mr-md"
                button-tooltip="Remove"
                @click="() => removeRow(local_index)"
              />
            </div>
          </div>
          <div v-if="is_mobile" class="col-2">
            <p-accessible-button
              round
              icon="close"
              class="q-mr-sm q-mt-sm float-right"
              button-tooltip="Close"
              @click="closeFields"
            />
          </div>
        </div>
        <q-card-section>
          <q-form ref="form_ref" greedy>
            <slot :row="local_rows[local_index]" v-if="local_rows[local_index]" />
          </q-form>
        </q-card-section>
        <q-card-actions>
          <p-accessible-button rounded icon="add" @click="addRow" button-tooltip="Add" />
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>
<style scoped>
  .thicker-border {
    border: 1px solid #696969
  }
</style>
