<script>
/**
 * An email address component for input with validation.
 *
 * @component
 *
 * @emits {string} update:modelValue - Emitted when the email value changes.
 * @emits {string} validationError - Emitted when there is a validation error in the email.
 *
 * @prop {string} modelValue - The email value bound to the component. Default is an empty string.
 * @prop {string} [label="Email"] - The label displayed for the input field.
 * @prop {Array} [rules=[]] - An array of additional validation rules to apply to the email.
 * @prop {boolean} [required=false] - Whether the email field is required.
 * @prop {boolean} [showSuccess=false] - Whether to show the success icon.
 *
 * @example
 * <p-email v-model="email" :rules="[requiredRule]" show-success />
 */
export default {
  name: "PEmail",
  inheritAttrs: false
};
</script>

<script setup>
import { ref, watch, computed } from 'vue';
import rules from "@wapdc/pdc-ui/rules"

const emit = defineEmits(['update:modelValue', 'validationError']);

const props = defineProps({
  modelValue: { type: String, default: '' },
  label: { type: String, default: 'Email' },
  rules: { type: Array, default: () => [] },
  required: { type: Boolean, default: false },
  showSuccess: { type: Boolean, default: false }
});

const email = ref(props.modelValue);
const validationError = ref('');

watch(() => props.modelValue, (newVal) => {
  email.value = newVal;
  validateEmail();
});

watch(() => email.value, (newVal) => {
  emit('update:modelValue', newVal);
  validateEmail();
});

const validateEmail = () => {
  if (!email.value && !props.required) {
    validationError.value = '';
    emit('validationError', '');
    return;
  }
  const result = rules.validEmail(email.value);
  if (result !== true) {
    validationError.value = result;
    emit('validationError', validationError.value);
  } else {
    validationError.value = '';
    emit('validationError', '');
  }
};

const validationRules = computed(() => [
  ...(props.required ? [rules.required] : []),
  ...props.rules,
  (val) => !val || rules.validEmail(val) === true || rules.validEmail(val)
]);

const isValid = computed(() => {
  if (!props.required && !email.value) return true;
  return email.value && !validationError.value;
});
</script>

<template>
  <q-input
    v-model="email"
    :label="label"
    type="email"
    :rules="validationRules"
    maxlength="254"
    :error="!!validationError"
    :error-message="validationError"
    :class="{ 'bg-green-100': isValid }"
    v-bind="$attrs"
  >
    <template v-slot:append>
      <q-icon v-if="isValid && showSuccess" name="check" color="green" />
    </template>
  </q-input>
</template>
