<script setup>
import { ref, watch, defineProps, defineEmits, defineExpose } from 'vue';

// Define component props
const props = defineProps({
  rows: Array,
  modelValue: Boolean,
  prompt: {
    type: String,
    required: true
  },
  required: {
    type: Boolean,
    default: true
  },
  rowDefault: Object,
  autofocus: {
    type: Boolean,
    default: false
  },
  noGap: {
    type: Boolean,
    default: false
  }
});

// Define component emits
const emit = defineEmits(['update:modelValue']);
const model = ref(props.modelValue);
const local_rows = ref(props.rows);

// Delete entries if the answer has picked no
const confirmDelete = ref(false);

// Define what it means to set focus on this control.
const radio = ref(null);
function focus() {
  if (radio.value) {
    radio.value.focus();
  }
}

// Only expose the focus function
defineExpose({ focus });

// Yes or no options to report
const yesNo = ref([
  { label: 'Yes', value: true },
  { label: 'No', value: false }
]);

// Validate the current selection based on required prop
const validSelection = (v) => {
  return !props.required || v !== null || 'Required';
};

// Determine whether the user has entered data
function hasData() {
  if (local_rows.value.length === 0) {
    return false;
  }
  if (local_rows.value.length > 1) {
    return true;
  }
  return JSON.stringify(local_rows.value[0]) !== JSON.stringify(props.rowDefault);
}

// Handle answer changes
function onAnswerChange() {
  if (model.value === false && hasData()) {
    confirmDelete.value = true;
  } else {
    if (model.value === false) {
      doDelete();
    } else {
      if (local_rows.value.length === 0) {
        local_rows.value.push(structuredClone(props.rowDefault ?? {}));
      }
      emit('update:modelValue', model.value);
    }
  }
}
function doDelete() {
    if (local_rows.value.length === 1) {
      model.value = false
}
    local_rows.value.splice(0, local_rows.value.length)
    confirmDelete.value = false
    emit("update:modelValue", model.value)
  }
  function cancelDelete() {
    model.value = true;
    confirmDelete.value = false;
  }

  // Watchers to synchronize props and local state
  watch(() => props.modelValue, (newValue) => {
    if (newValue !== model.value) {
      model.value = newValue;
    }
  }, { immediate: true });

  watch(model, (newValue) => {
    if (newValue !== props.modelValue) {
      emit('update:modelValue', newValue);
    }
  });
</script>

<template>
  <div class="row items-center q-mb-md">
    <div :class="noGap ? 'q-mr-md' : 'col-9' ">
      <slot name="default">
        {{ props.prompt }}
      </slot>
    </div>
    <div :class="noGap ? '' : 'col-3' ">
      <q-field :rules="[validSelection]" dense hide-bottom-space v-model="model" borderless>
        <q-option-group
          :autofocus="autofocus"
          ref="radio"
          v-model="model"
          :options="yesNo"
          @update:model-value="onAnswerChange"
          inline
        />
      </q-field>
    </div>
  </div>
  <q-dialog v-model="confirmDelete" persistent>
    <q-card>
      <q-card-section>
        <slot name="confirmDelete">
          <p>
            You have previously answered yes to the question, "{{ props.prompt }}". Changing your answer
            to no will remove any data entered.
          </p>
          <p>Do you wish to proceed?</p>
        </slot>
      </q-card-section>
      <q-card-actions>
        <q-btn no-caps label="YES - clear the data" color="primary" @click="doDelete" />
        <q-btn no-caps label="NO - keep the data" @click="cancelDelete" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>
