<template>
  <q-item
    clickable
    tag="a"
    :href="link"
    :to="to"
  >
    <q-item-section
      v-if="icon"
      avatar
    >
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>
<script>
  export default {
    name: "PMenuLink"
  }
</script>
<script setup>
  defineProps({
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    to: {
      type: String
    },

    link: {
      type: String,
    },

    icon: {
      type: String,
      default: ''
    }
  })
</script>
