<script>
/**
 * A phone number component for input with masking and validation.
 *
 * @component
 *
 * @emits {string} update:modelValue - Emitted when the formatted phone number changes.
 * @emits {string} validationError - Emitted when there is a validation error in the phone number.
 *
 * @prop {string} modelValue - The phone number value bound to the component. Default is an empty string.
 * @prop {string} [mask="(###) ###-####"] - The mask pattern for formatting the phone number input.
 * @prop {string} [label="Phone Number"] - The label displayed for the input field.
 * @prop {Array} [rules=[]] - An array of additional validation rules to apply to the phone number.
 * @prop {boolean} [showSuccess=false] - Whether to show the success icon.
 *
 * @example
 * <p-phone v-model="phoneNumber" :rules="[requiredRule]" mask="###-###-####" :showSuccess="true"/>
 */
export default {
  name: "PPhone",
  inheritAttrs: false
}
</script>

<script setup>
import { ref, watch, computed } from 'vue';
import rules from "@wapdc/pdc-ui/rules";

/**
 * Emits custom events for v-model and validation.
 */
const emit = defineEmits(['update:modelValue', 'validationError']);

/**
 * Props definition for mask, label, and validation rules.
 * @type {Object}
 */
const props = defineProps({
  modelValue: { type: String, default: '' },
  mask: { type: String, default: '(###) ###-####' },
  label: { type: String, default: 'Phone Number' },
  rules: { type: Array, default: () => [] },
  showSuccess: { type: Boolean, default: false }
});

/**
 * Cleans the input by removing all non-digit characters.
 * @param {string} input - The phone number input.
 * @returns {string} - The cleaned input string with only digits.
 */
const cleanInput = (input) => {
  return input?.replace(/\D/g, '');
};

// Data refs
const formattedNumber = ref(cleanInput(props.modelValue));
const validationError = ref('');

/**
 * Watches the modelValue prop to update the formatted phone number.
 */
watch(() => props.modelValue, (newVal) => {
  formattedNumber.value = cleanInput(newVal);
  validatePhoneNumber();
});

/**
 * Watches the formatted phone number and emits updates to the parent component.
 */
watch(() => formattedNumber.value, (newVal) => {
  emit('update:modelValue', newVal);
  validatePhoneNumber();
});

/**
 * Validates the phone number using a custom rule from rules.js.
 * Emits a validationError event with the error message if validation fails.
 */
const validatePhoneNumber = () => {
  const error = rules.validatePhoneNumber(formattedNumber.value, props.mask);
  validationError.value = error === true ? '' : error;
  emit('validationError', validationError.value);
};

/**
 * Computed property to merge user-defined validation rules with the validation logic for the phone number.
 */
const validationRules = computed(() => [
  ...props.rules,
  () => validationError.value || true
]);

/**
 * Computed property to check if the phone number input is valid.
 * @returns {boolean} - Returns true if the input is valid, false otherwise.
 */
const isValid = computed(() => {
  return formattedNumber.value && !validationError.value;
});

</script>

<template>
  <q-input
    v-model="formattedNumber"
    :label="label"
    :mask="mask"
    placeholder="Enter phone number"
    :rules="validationRules"
    :error="!!validationError"
    :error-message="validationError"
    :class="{ 'bg-green-100': isValid }"
    v-bind="$attrs"
  >
    <template v-slot:append>
      <q-icon v-if="isValid && showSuccess" name="check" color="green"/>
    </template>
  </q-input>
</template>
