<script>
  export default {
    name: "PRadioSearch"
  }
</script>
<script setup>
import {computed, ref, watch} from "vue";
import rules from "@wapdc/pdc-ui/rules"
import {isSimilar} from "@wapdc/pdc-ui/util";

const props = defineProps(
  {
    modelValue: {type: Number},
    name: {type: String},
    options: {type: Array},
    valueProperty: {type: String, default: 'id'},
    labelProperty: {type: String, default: 'name'},
    maxResults: {type: Number, default: 20},
    setFocus: {type: Boolean, default: false},
    useButtons: {type: Boolean, default: true},
    label: { type: String }
  }
)

const selectedValue = ref(null);
const selectedName = ref(null);
const searchPerformed = ref(false);
const $emit = defineEmits(['update:modelValue', 'update:name', 'searched']);

async function onCannotFind() {
  if (searchForm.value && await searchForm.value.validate()) {
    $emit('update:modelValue', null);
    $emit('update:name', searchString.value);
    $emit('searched');
    selectedValue.value = null;
    searchString.value = '';
    selectedName.value = null
  }
}

async function onSelected(){
  if(searchForm.value && await searchForm.value.validate()){
    $emit('update:modelValue', selectedValue.value);
    $emit('update:name', selectedName.value);
    $emit('searched');
  }
}

watch(selectedValue, async (newValue) => {
  if (newValue === null) {
    selectedName.value = null;
  } else {
  //  selectedName.value = props.options.find(x => x.id === newValue)[props.labelProperty]
    const option = props.options.find(x => x.id === newValue);
    if (option) {
      selectedName.value = option[props.labelProperty];
    }
    if (searchForm.value) {
      await searchForm.value.validate();
    }
    if (!props.useButtons) {
      $emit('update:modelValue', newValue);
      $emit('update:name', selectedName.value);
      searchString.value = selectedName.value;
      searchPerformed.value = false;
    }
  }
})

// watch modelValue immediately and react to changes
watch(() => props.modelValue, (newValue) => {
  selectedValue.value = newValue;
  const option = props.options.find(x => x[props.valueProperty] === newValue);
  selectedName.value = option ? option[props.labelProperty] : null
}, { immediate: true })


const searchString = ref('');

const filteredOptions = computed(() => {
  if(searchString.value && searchString.value !== selectedName.value){
    return props.options.filter(x => {
      const {score, match} = isSimilar(searchString.value, x[props.labelProperty])
      x.score = score
      return match
    }).map((e) => {
      return {label: e[props.labelProperty], value: e[props.valueProperty], score: e.score}
    }).sort((a,b) => {
      return b.score - a.score
    })
  }else{
    return []
  }
})

watch(searchString, (newValue) => {
  searchPerformed.value = newValue?.length > minSearchCharacters
});

const minSearchCharacters = 3;
function requireCharactersOrSelect(){
  switch(true){
    case selectedValue.value:
      return true;
      case (searchString.value?.length === 0):
      return `Required`;
    case (searchString.value?.length || 0) < 3 && filteredOptions.value.length === 0:
      return `Enter at least ${minSearchCharacters} characters`
    case (searchString.value?.length || 0) < 3 && filteredOptions.value.length > 0 && !selectedValue.value:
      return `Enter at least ${minSearchCharacters} characters or select an item from the list`
    default:
      return true;
  }
}
function clearInput() {
  searchString.value = '';
  searchPerformed.value = false;
}
const searchForm = ref(null)

</script>
<template>
  <div>
    <q-form ref="searchForm" @submit.prevent>
      <q-input :label="props.label" :autofocus="props.setFocus"
               :rules="[() => requireCharactersOrSelect()]"
               debounce="300" v-model="searchString">
        <template v-slot:append>
          <q-icon name="close" @click="clearInput" v-if="searchString?.length" />
          <q-icon name="search"/>
        </template>
      </q-input>
    </q-form>
    <q-form ref="selectForm" @submit="onSelected">
      <div v-show="filteredOptions.length">
        <p v-if="maxResults < filteredOptions.length">Only the first {{maxResults}} items shown.</p>
        <q-field class="q-mt-lg" v-model="selectedValue" borderless :rules="[rules.required]"  >
          <q-option-group v-if="filteredOptions.length" v-model="selectedValue" :options="filteredOptions.slice(0, maxResults)" style="color: black">
          </q-option-group>
        </q-field>
      </div>
      <div v-if="!filteredOptions.length && searchString?.length  && !searchPerformed">
        no results found
      </div>
      <div class="q-mt-lg q-gutter-sm" v-if="useButtons">
        <q-btn label="Select" type="submit" color="primary"></q-btn>
        <q-btn label="Not found" @click="onCannotFind"></q-btn>
      </div>
    </q-form>
  </div>
</template>
