<template>
  <div :class="$attrs.class">
    <q-input
      :outlined="props.outlined"
      v-model="searchQuery"
      :label="props.label"
      debounce="100"
      @update:model-value="performSearch"
      clearable
    >
      <template v-slot:prepend>
        <q-icon :name="props.iconName"/>
      </template>
    </q-input>
  </div>
  <template v-if="displayData">
    <slot name="results" :results="displayData">
      <p>No search results display implemented.</p>
    </slot>
  </template>
  <p v-else-if="searchQuery && !displayData">No results found.</p>
  <p v-else></p>
</template>
<script>
  export default {
    name: 'PSearchRows'
  }
</script>
<script setup>
import { ref, computed, watchEffect, watch } from 'vue';
import {isSimilar} from "@wapdc/pdc-ui/util";

/**
 * @typedef Props
 * @property {string} [iconName]
 * @property {string} [label]
 * @property {boolean} [outlined]
 * @property {any[]} rows
 * @property {string[]} [searchKeys]
 * @property {number} [minScore]
 */

const props = defineProps({
  iconName: {
    type: String,
    default: 'search'
  },
  label: {
    type: String,
    default: 'Search'
  },
  outlined: {
    type: Boolean,
    default: true
  },
  rows: {
    type: Array,
    required: true
  },
  searchKeys: {
    type: Array,
    default: () => []
  },
  minScore: {
    type: Number,
    default: () => 20.0
  },
  maxDepth: {
    type: Number,
    default: () => 1
  }
});

const searchQuery = ref('');
const searchResults = ref([]);

// Initialize searchResults with the full dataset
watchEffect(() => {
  searchResults.value = props.rows.map(item => ({ ...item, score: 100 }));
});

/**
 * Recursively searches an object or array for elements matching a query string.
 * Limits the depth of search and uses caching for efficiency.
 *
 * @param {any} obj - Object or array to be searched.
 * @param {string} query - Query string for comparison.
 * @param {number} [depth=0] - Current depth in the recursive search.
 * @returns {{match: boolean, score: number}} - Result with match status and similarity score.
 */
const deepSearch = (obj, query, depth = 0) => {
  // Stop searching if the maximum depth is exceeded or the object is null/undefined.
  if (depth > props.maxDepth || obj === null || obj === undefined) {
    return { match: false, score: 0 };
  }

  // Create a unique key for caching based on the current object and query.
  const cacheKey = JSON.stringify({ obj, query });
  // If this search has been done before, return the stored result.
  if (cache.has(cacheKey)) {
    return cache.get(cacheKey);
  }

  // Initialize the result with default 'no match' values.
  let result = { match: false, score: 0 };

  // If the object is a string, compare it directly to the query.
  if (typeof obj === 'string') {
    result = isSimilar(query, obj);
  }
  // If it's an array, look through each element.
  else if (Array.isArray(obj)) {
    let maxScore = 0;
    for (const item of obj) {
      // Recursively search each element, increasing the depth.
      const itemResult = deepSearch(item, query, depth + 1);
      // Keep the result with the highest score.
      if (itemResult.score > maxScore) {
        maxScore = itemResult.score;
        result = itemResult;
      }
    }
  }
  // If it's an object, search each key-value pair.
  else if (typeof obj === 'object') {
    let maxScore = 0;
    for (const key of Object.keys(obj)) {
      // Check if the key should be included in the search.
      if (shouldSearchKey(key, query)) {
        // Recursively search the value of the key, increasing the depth.
        const keyResult = deepSearch(obj[key], query, depth + 1);
        // Update the result if this key's value has a higher score.
        if (keyResult.score > maxScore) {
          maxScore = keyResult.score;
          result = keyResult;
        }
      }
    }
  }

  // Store the result in the cache for future searches.
  cache.set(cacheKey, result);
  return result;
};

const cache = new Map();

/**
 * Determines if a given key should be searched based on the query and props.searchKeys
 * @param {string} key - The key to check
 * @returns {boolean} - Returns true if the key should be included in the search
 */
const shouldSearchKey = (key) => {
  // If searchKeys are defined and the key is not in the list, don't search it
  if (props.searchKeys.length > 0 && !props.searchKeys.includes(key)) {
    return false;
  }
  // By default, search the key
  return true;
};


/**
 * Performs a search on the JSON data and emits the results
 * Sorts the results by score in descending order
 */
const performSearch = () => {
  if (!searchQuery.value || searchQuery.value.trim() === '') {
    // If the search query is empty, show the full dataset
    searchResults.value = props.rows.map(item => ({ ...item, score: 100 }));
  } else {
    // Perform the search if there is a query
    cache.clear();
    searchResults.value = props.rows
      .map(item => {
        const result = deepSearch(item, searchQuery.value);
        return { ...item, score: result.score };
      })
      .filter(item => item.score > props.minScore)
      .sort((a, b) => b.score - a.score);
  }
};

watch(() => props.rows, performSearch)

/**
 * Computed property to determine what data to display
 * Returns search results or null if there are no results
 */
const displayData = computed(() => {
  return searchResults.value;
});
</script>
