<script>
/**
 * This provides a searchable q-select search that performs fuzzy matching. It assumes an options
 *
 * Model:
 *
 *   v-model - The id to bind the selection to
 *   v-model:Name - The name of the selected value
 *
 * Properties:
 *   options - An array of objects that are filterable
 *   value-property - The name of the property to use as a value (default: "id")
 *   label-property - The name of the property to use as a label (default: "name")
 *   label - The label to be used for the field
 *   max-results - The maximum number of results to display (default: 5)
 *   rules - Rules bound for validation
 *
 */
export default {
  name: "PSelectSearch"
}
</script>
<script setup>
import {isSimilar} from "@wapdc/pdc-ui/util";
import {ref, watch} from "vue";

const filteredOptions = ref([])
const emit = defineEmits(["update:name", "update:modelValue"])
const props = defineProps(
  {
    modelValue: {type: Number},
    name: {type: String},
    options: {type: Array},
    valueProperty: {type: String, default: 'id'},
    labelProperty: {type: String, default: 'name'},
    maxResults: {type: Number, default: 5},
    label: {type: String},
    rules: {type: Array}
  }
)

const id = ref(props.modelValue)
const localName = ref(props.name)

if (props.name) {
  filterOptionsOn(props.name)
}

watch(() => props.modelValue, newValue => {
  id.value = newValue
})

watch(() => props.name, newValue => {
  localName.value = newValue
  filterOptionsOn(newValue)
})

function mapOption(newId) {
  if (newId) {
    id.value = newId
    emit("update:modelValue", newId)
    const found =  props.options.find(option => option[props.valueProperty] === newId)
    localName.value = found ? found[props.labelProperty] : ""
    emit("update:name", localName.value)
  } else {
    emit("update:modelValue", null)
    emit("update:name", null)
  }
}

function filterOptionsOn(value) {
  let needle = value?.trim()
  const emptyOption = {disable: true};
  emptyOption[props.labelProperty] = "type to search"
  emptyOption[props.valueProperty] = -1

  // If you haven't typed enough characters don't show results.
  if (!needle || needle.length < 3) {
    // Unless of course something is selected, then we need to include that result.
    if (localName.value && id.value) {
      needle = localName.value
    }
    else {
      filteredOptions.value = [emptyOption]
      return
    }
  }
  filteredOptions.value =props.options.filter(v => {
    const {match, score} = isSimilar(needle, v[props.labelProperty])
    v.score = score;
    return match
  })
  filteredOptions.value.sort((a,b) => b.score - a.score)
  if (filteredOptions.value.length === 0) {
    emptyOption[props.labelProperty] = "no results"
    filteredOptions.value.push(emptyOption)
  }
  if (filteredOptions.value.length > props.maxResults) {
    filteredOptions.value = filteredOptions.value.slice(0, props.maxResults)
  }
}



function filter(value, update) {
  update(() => {
    filterOptionsOn(value)
  })
}
</script>
<template>
  <q-select :options ="filteredOptions"
            :label="label"
            use-input
            :option-value="valueProperty"
            :option-label="labelProperty"
            @filter="filter"
            @update:model-value="mapOption"
            :input-debounce="100"
            v-model="id"
            clearable
            map-options
            emit-value
            :rules="rules"
  >
  </q-select>
</template>
