<script>
export default {
  name: "PUserHeader"
}
</script>

<script setup>
import PWhiteLogo from "./PWhiteLogo.vue";
import PMenuLink from "./PMenuLink.vue";
import { ref, defineProps, onMounted, watch, computed } from 'vue';
import { useApplication } from '@wapdc/pdc-ui/application';

const props = defineProps({
  title: String,
  requireUserProfile: {
    type: Boolean,
    default: false
  }
});

const left_drawer_open = ref(false);
const user = ref(null);
const apollo_url = ref('');

const essential_links = computed(() => [
  {
    title: 'My PDC',
    icon: 'home',
    link: '/'
  },
  {
    title: 'PDC web site',
    icon: 'info',
    link: 'https://pdc.wa.gov'
  },
  {
    icon: 'person',
    title: 'Filer Login',
    limitTo: () => !user.value || !user.value.uid,
    href: filerLoginUrl(),
  },
  {
    icon: 'power_settings_new',
    title: 'Logout',
    limitTo: () => user.value && user.value.uid,
    href: '/user/logout?destination=/'
  },
  {
    icon: 'person',
    title: 'Staff Login',
    limitTo: () => !user.value || !user.value.uid,
    href: staffLoginUrl()
  }
]);


async function setupApplication() {
  const { getSetting, user: fetchedUser } = await useApplication();
  apollo_url.value = getSetting('apollo_url');
  user.value = fetchedUser;
}

onMounted(async () => {
  await setupApplication();
  checkUserProfile();
});

watch(user, () => {
  checkUserProfile();
});

function staffLoginUrl() {
  if (location.hostname === 'localhost' || location.hostname.includes('.lndo.')) {
    return '/user/login?destination=/';
  } else {
    return '/saml/drupal_login/ead_sts_wa_gov';
  }
}

function filerLoginUrl() {
  if (location.hostname === 'localhost' || location.hostname.includes('.lndo.')) {
    return '/user/login?destination=/';
  }
  if (location.hostname.includes('demo') && location.hostname.includes('pantheonsite.io')) {
    return '/saml/drupal_login/test_secureaccess_wa_gov';
  } else {
    return '/saml/drupal_login/secureaccess_wa_gov';
  }
}

function allowMenuItem(link) {
  return link.limitTo === undefined || link.limitTo();
}

function toggleLeftDrawer() {
  left_drawer_open.value = !left_drawer_open.value;
}

const navigateToProfileEdit = () => {
  window.location = apollo_url.value + '/my-pdc/edit-profile';
};

const checkUserProfile = () => {
  if (user.value?.user?.name || !props.requireUserProfile) return;
  navigateToProfileEdit()
};
</script>

<template>
  <q-header elevated class="print-hide">
    <q-toolbar>
      <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer"/>

      <q-toolbar-title>{{ title }}</q-toolbar-title>
      <div class="q-pr-md">{{ user?.user?.name }}</div>
      <q-btn-dropdown class="edit-profile-item">
        <q-list>
          <q-item clickable v-close-popup @click="navigateToProfileEdit">
            <q-item-section>Edit Profile</q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
      <div>
        <p-white-logo/>
      </div>
    </q-toolbar>
  </q-header>

  <q-drawer class="q-pa-md" v-model="left_drawer_open" bordered>
    <q-list>
      <q-item>
        <q-item-section>
          <q-item-label>Navigation</q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-btn icon="close" flat round dense @click="left_drawer_open = !left_drawer_open">Close</q-btn>
        </q-item-section>
      </q-item>
      <q-separator/>
      <template v-for="link in essential_links" :key="link.title">
        <p-menu-link :title="link.title" v-if="allowMenuItem(link)" v-bind="link"/>
      </template>
    </q-list>
  </q-drawer>
</template>

<style scoped>
.edit-profile-item,
.edit-profile-item:before,
.edit-profile-item:active {
  box-shadow: none !important;
}
</style>
