<script>
export default {
  name: "PUserLayout"
}
</script>

<script setup>
import {useApplication} from '@wapdc/pdc-ui/application'
import {computed, ref} from 'vue'
import PUserHeader from "./PUserHeader.vue";

const isInitialized = ref(false)
await useApplication()
isInitialized.value = true

const props = defineProps({
  maxWidth: {
    type: Number,
    default: null
  },
  title: {
    type: String,
    default: null,
  },
  requireUserProfile: {
    type: Boolean,
    default: false
  }
})

const containerStyle = computed(() => {
  return props.maxWidth ? `max-width: ${props.maxWidth}px` : ""
})
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <p-user-header :title="title" :require-user-profile="requireUserProfile"/>
    <q-page-container v-if="isInitialized" :style="containerStyle" class="q-pa-sm q-pa-md-lg">
      <q-page>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>
