<script>
  export default {
    name: "PWizard"
  }
</script>

<script setup>
import { useQuasar } from 'quasar'
import {reactive, ref, computed, watch} from "vue"
import { formatMoney } from "@wapdc/pdc-ui/util"
import PAccessibleButton from "./PAccessibleButton.vue";

const props = defineProps({
  sections: Array,
  title: String,
  data: Object,
  selected: Object
})

const component_ref = ref(null)

const emit = defineEmits(["navigate", "finishLater", "invalidStep"])

const quasar = useQuasar()

const is_mobile = computed(() => quasar.screen.lt.md)
const section_menu_is_large = ref(! quasar.screen.lt.md)

function emitNavigate() {
  emit("navigate", {
    section: selectedSection.value?.name,
    item: selectedItem.value?.name ?? null
  })
}

const sections = ref(props.sections)
const filteredSections = computed(() => {
  return sections.value.filter(s => (!s.limitTo) || s.limitTo())
})
function filteredItems(section) {
  if (!section.items) {
    return null
  }
  const filteredItems = section.items.filter(s => (!s.limitTo) || s.limitTo())
  if (filteredItems.length === 0) {
    return null
  }
  return filteredItems
}

const doc = reactive(props.data)
const section_index = computed(() => sections.value.findIndex(s => s === selectedSection.value))

function sumAmounts(section, property = 'amount') {
  const initialValue = 0.0
  if (section) {
    return section.reduce((a, e) => (e[property]) ? a + parseFloat(e[property]) : a, initialValue) ?? 0.0
  }
  else {
    return 0.0
  }
}
function summarize(section) {
  if (filteredItems(section)) {
    return filteredItems(section).reduce((a, e) => {
      return a + summarize(e)
    }, 0.0)
  }
  else if (section.sum && section.data) {
    return sumAmounts(doc[section.data], section.sum)
  }
  else if (section.count && section.data) {
    return doc[section.data].length
  }
  else {
    return 0.0
  }
}

async function currentStepValid() {
  if (component_ref.value && component_ref.value.validate) {
    return await component_ref.value.validate()
  }
  return true
}

const selectedSection = ref(props.sections[0])

function isSelectedSection(section) {
  return selectedSection.value === section
}

function selectSection(section) {
  selectedSection.value = section
  selectedItem.value = null
  if (is_mobile.value) {
    section_menu_is_large.value = false
  }
  emitNavigate()
}

const selectedItem = ref(null)
function isSelectedItem(item) {
  return selectedItem.value === item
}

function selectItem(item) {
  selectedItem.value = item
  if (is_mobile.value) {
    section_menu_is_large.value = false
  }
  emitNavigate()
}

async function nextItem() {
  if (!(await currentStepValid())) {
    emit("invalidStep")
    return
  }
  const limitedSections = filteredSections.value;
  const index = limitedSections.findIndex(s => s===selectedSection.value)
  if (selectedItem.value) {
    const items =  filteredItems(selectedSection.value)
    const itemIndex = items.findIndex(i => i===selectedItem.value)
    if (itemIndex < items.length - 1) {
      selectedItem.value = items[itemIndex + 1]
    } else {
      if (index < limitedSections.length - 1) {
        selectedSection.value = limitedSections[index + 1]
        selectedItem.value = null
      }
    }
  }
  else {
    const items = selectedSection.value.items ? filteredItems(selectedSection.value): []
    if (items && items.length > 0) {
      selectedItem.value = items[0]
    }
    else if (index < limitedSections.length - 1) {
      selectedSection.value = limitedSections[index + 1]
      selectedItem.value = null
    }
  }
  emitNavigate()
}

function finishLater() {
  emit("finishLater")
}

function setSelected() {
  if (props.selected && props.selected.section) {
    selectedSection.value = props.sections.find( s => s.name === props.selected.section)
    if (selectedSection.value && selectedSection.value.items) {
      selectedItem.value = selectedSection.value.items.find(i => i.name === props.selected.item)
    }
  }
  else {
    selectedSection.value = props.sections[0]
  }

  // Force validation if requested
  if (props.selected.validate) {
    // The delay is required to ensure that components have painted before validation
    // is attempted.
    setTimeout(  () => {
       currentStepValid()
    }, 50)
  }
}

function toggleSectionMenu() {
  section_menu_is_large.value = ! section_menu_is_large.value
}

watch(() => props.selected, () => {
  setSelected()
})
setSelected()

watch(() => is_mobile.value, (new_value, old_value) => {
  section_menu_is_large.value = !(new_value === true && old_value === false);
})

</script>

<template>
  <div class="row q-col-gutter-md items-stretch">
    <div v-if="! is_mobile || ! section_menu_is_large" :class="is_mobile ? 'col-12' : section_menu_is_large ? 'col-9' : 'col-12'">
      <q-card class="full-height" style="padding-bottom: 4em;" >
        <q-card-section>
          <div class="row">
            <div class="col-11 text-h2 q-pb-md q-pt-sm">
              <span v-if="selectedItem">{{ selectedSection.title }} - {{ selectedItem.title }}</span>
              <span v-else-if="selectedSection">{{selectedSection.title}}</span>
            </div>
            <div class="col-1">
              <p-accessible-button
                class="float-right"
                v-if="! section_menu_is_large"
                round
                icon="toc"
                color="primary"
                button-tooltip="Show menu"
                @click="toggleSectionMenu"
              />
            </div>
          </div>
          <template v-if="selectedItem">
            <component ref="component_ref" v-if="selectedItem.component" :is="selectedItem.component()"/>
          </template>
          <template v-else-if="selectedSection">
            <component ref="component_ref" v-if="selectedSection.component" :is="selectedSection.component()"/>
          </template>
        </q-card-section>
        <q-card-actions style="position: absolute; bottom: 0; width: 100%; ">
          <q-toolbar>
             <q-btn rounded no-caps v-if="section_index !== sections.length - 1" style="width: 5em;" class= "q-mr-sm" color="primary" label="Next" @click="nextItem" > <q-icon  size="small" name="arrow_forward"/></q-btn>
            <q-space/>
              <q-btn rounded flat no-caps style="text-decoration: underline" label="Finish later" @click="finishLater" />
              <slot name="actions" />
          </q-toolbar>

        </q-card-actions>
      </q-card>
    </div>
    <div
      v-if="section_menu_is_large"
      :class="is_mobile ? 'col-12' : 'col-3'"
    >
      <q-toolbar v-if="section_menu_is_large" class="bg-secondary text-white shadow-2 justify-center">
        <q-toolbar-title v-if="section_menu_is_large">{{ props.title }}</q-toolbar-title>
        <p-accessible-button round flat icon="keyboard_double_arrow_right" button-tooltip="Hide menu" @click="toggleSectionMenu" />
      </q-toolbar>
      <q-list bordered separator v-if="section_menu_is_large">
        <template v-for="section in filteredSections" :key="section.title">
          <q-item :class="`${isSelectedSection(section) && 'bg-grey-4'}`" clickable v-ripple @click="selectSection(section)">
            <q-item-section><q-item-label>{{section.title}}</q-item-label></q-item-section>
            <q-item-section side>
              <span v-if="section.sum"> {{formatMoney(summarize(section))}}</span>
              <span v-else-if="section.count">{{summarize(section)}}</span>
            </q-item-section>
          </q-item>
          <template v-if="filteredItems(section) && section === selectedSection">
            <q-item class="q-pl-lg" clickable v-for="item in filteredItems(section)" :key="`${section.title} - ${item.title}`"
              v-ripple @click="selectItem(item)" :class="`${isSelectedItem(item) && 'bg-grey-4'}`">
              <q-item-section>
                <q-item-label>{{item.title}}</q-item-label>
              </q-item-section>
              <q-item-section side>
                <span v-if="item.sum">{{formatMoney(summarize(item))}}</span>
                <span v-else-if="item.count">{{summarize(item)}}</span>
              </q-item-section>
            </q-item>
          </template>
        </template>
      </q-list>
    </div>
  </div>
</template>
