// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #176700;
$secondary : #757575;
$accent    : #ffc107;

$dark      : #222222;
$dark-page : #121212;

$positive  : #249c02;
$negative  : #9f2d2d;
$info      : #d8ddf2;
$warning   : #f2c037;

$h1:        (size: 2rem,     line-height: 2.25rem,   letter-spacing: -.00833em, weight: 500) !default;
$h2:        (size: 1.5rem,   line-height: 1.75rem,   letter-spacing: normal,    weight: 500) !default;
$h3:        (size: 1.25rem,  line-height: 1.5rem,    letter-spacing: .00735em,  weight: 500) !default;
$h4:        (size: 1.125rem, line-height: 1.35rem,   letter-spacing: normal,    weight: 500) !default;
$h5:        (size: 1rem,     line-height: 1.25rem,   letter-spacing: .0125em,   weight: 500) !default;
$h6:        (size: .9rem,    line-height: 1.125rem,  letter-spacing: .0125em,   weight: 500) !default;
$subtitle1: (size: 1rem,     line-height: 1.75rem,   letter-spacing: .00937em,  weight: 400) !default;
$subtitle2: (size: .875rem,  line-height: 1.375rem,  letter-spacing: .00714em,  weight: 500) !default;
$body1:     (size: 1rem,     line-height: 1.5rem,    letter-spacing: .03125em,  weight: 400) !default;
$body2:     (size: .875rem,  line-height: 1.25rem,   letter-spacing: .01786em,  weight: 400) !default;
$overline:  (size: .75rem,   line-height: 2rem,      letter-spacing: .16667em,  weight: 500) !default;
$caption:   (size: .75rem,   line-height: 1.25rem,   letter-spacing: .03333em,  weight: 400) !default;

// sorry for long line; we need .sass and it doesn't support multi-line list
$headings: ('h1': $h1, 'h2': $h2, 'h3': $h3, 'h4': $h4, 'h5': $h5, 'h6': $h6, 'subtitle1': $subtitle1, 'subtitle2': $subtitle2, 'body1': $body1, 'body2': $body2, 'overline': $overline, 'caption': $caption) !default;

// sorry for long line; we need .sass and it doesn't support multi-line list
$h-tags: (h1: map-get($headings, "h1"), h2: map-get($headings, "h2"), h3: map-get($headings, "h3"), h4: map-get($headings, "h4"), h5: map-get($headings, "h5"), h6: map-get($headings, "h6")) !default;
